<div class="container">
	<div class="col-xs-4"></div>
	<div class="col-xs-5">
		<h1 class="sub-title">ブログ</h1>
		<span>
			<h3 class="blog-title">
				<%= @blog.title %>
			</h3>
			<%= @blog.created_at.strftime('%Y/%m/%d') %>
		</span>
		<br>
		<br>
		<div class="blog-text">
			<%= @blog.body %>
		</div>
		</br>

		<ul>

			<p class="blog-date">
			<span>
				<% if @blog.user == current_user %>
				<%= link_to "ブログを編集する", edit_blog_path %>
				<%= link_to "削除", blog_path(@blog.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
			<% end %>
			</span>
			<div class="comment">
				<p><%= @blog.comments.count %>件コメント</p>
			</div>
			</p>
		</ul>
	</div>
</div>

<div class="container">
	<div class="col-xs-4"></div>
	<div class="col-xs-5">
		<h2 class="sub-title">コメント一覧</h2>
			<% if @comments.any? %>
				<% @blog.comments.each do |comment| %>
					<div class="comment-user">
						<p><%= link_to "#{comment.user.name}さん", user_path(comment.user.id) %>
						<%= comment.comment_text %></p>
					</div>

					<span class= "comment-date"><%= comment.created_at.strftime("%Y/%m/%d") %></span>
				<% end %>
			<% end %>
			</br>

		<!--コメント投稿フォーム-->

		</br>
		<!--コメントエラー-->

			<% if @comment.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@comment.errors.count, "件のエラーが発生しました") %></h2>

					<ul>
						<% @comment.errors.full_messages.each do |message| %>
							<li><% message %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

		<!--コメントエラーここまで-->
		</br>
		<% if user_signed_in? %>
			<%= form_for [@blog, @comment] do |f| %>

				<div class="row">
					<div class="col-sm-12">
						<%= f.text_area :comment_post, rows:'5', class: "form-control", placeholder:"コメントをここに" %>
					</div>
				</div>
				<br>
				<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
			<% end %>
		<% end %>

	</div>
</div>
<div class="container">
	<div class="col-xs-4"></div>
	<div class="col-xs-5">

		<!--コメントフォームここまで-->

		<h5>コメントする際の注意点</h5>
		<p>記事、及びユーザーの誹謗中傷とする内容は禁止です。他のユーザーの迷惑にならないようコメントしてください。</br>
		万が一、不信なコメントを見かけましたら、管理人まで、お問い合わせください。</p>

	</div>
</div>