<div class="container">
	<div class="col-xs-5"></div>
	<div class="col-xs-5">
		<h2>ユーザー設定</h2>
		<div class="user-setting">

		<!--コメントエラー-->

		<% if @user.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@user.errors.count, "件のエラーが発生しました") %></h2>

				<ul>
					<% @user.errors.full_messages.each do |message| %>
						<li><% message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<!--コメントエラーここまで-->

			<!--ユーザー設定-->
			<%= form_for(@user) do |f| %>
				<div class="field">
					<%= f.label :name %>
					<%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前" %>
				</div>
				<div class="field">
					<%= f.label :image %>
					<%= f.attachment_field :profile_image, class: "user_image" %>
				</div>

				<div class="field">
					<%= f.label :introduction %>
					<%= f.text_area :introduction, class: "introduction" %>
				</div>

				<div class="action">
				<%= f.submit "設定を変更する" %>
				</div>
			<% end %>
		</div>
	</div>
</div>