<div class="container">
	<div class="col-xs-1"></div>
	<div class="col-xs-3">
		<div class="user-bar">
			<div class="user-icon-space">
			<%= attachment_image_tag @user, :profile_image, :fill, 20, 20, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %>
			</div>
			<%= @user.name %>
			<%= link_to "設定", edit_user_path(@user.id) %>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div class="introduction-space">
				<p>自己紹介<br>
					<%= @user.introduction %>
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-5">
		<h1 class="sub-title">ブログ一覧画面</h1>
		<thead>
			<tr>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<table class="table table-hover">
			<tbody>
				<% @blogs.each do |blog| %>
				<tr>
					<td>
						<h4 class="blog-title">
							<%= link_to blog_path(blog.id) do %>
								<% blog.title %>
							<% end %>
						</h4>
					</td>
					<td>
						<p class="blog-updatetime">
							<%= blog.created_at.strftime('%Y/%m/%d') %>
						</p>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>